{:aws-access-key-id "..."
 :aws-secret-access-key "..."
 :aws-sqs-queue "https://sqs.REGION.amazonaws.com/.../my-queue"

 :oc-api-endpoint "http://localhost:3000"

 :slack-client-id "..."
 :slack-bot-token "xoxb-..."
 :slack-scopes [:bot :users:read]}