{[:company/logo :init]
 ["Hi {{user/name}}, I’m the bot for your OpenCompany dashboard."
  "I’ll help you share company updates that compliment Slack and get everyone on the same page."
  "The first thing we ought to do is confirm the information OpenCompany has about {{company/name}}."
  "{{#company/logo}}Is this the logo we should use? You can answer with *yes* or *no*. {{company/logo}}{{/company/logo}}"
  "{{^company/logo}}We don't yet have an logo to display on your company's dashboard. *Provide a link* (square works best) or reply with *later*{{/company/logo}}"]
 [:company/logo :no]
 ["Understood. What logo should I use? The best dashboard logos fit into a square, roughly 180 x 180 pixels, like what you'd use for a Twitter avatar. You can answer with a URL (e.g. http://acme.com/logo.png). You can also answer with *later*."]
 [:company/logo :image-url]
 ["OK, I'll update the logo to this: {{company/logo}} Looks right? You can answer with *yes* or *no*."]
 [:company/logo :not-now]
 ["OK, you can always update the logo later in your company profile at: {{env/origin}}/{{company/slug}}/profile"
  "Your new OpenCompany dashboard is ready at: {{env/origin}}/{{company/slug}}"
  "Now it’ll be easier to keep your team, investors and other stakeholders engaged and up to date."]
 [:company/logo :yes-after-update]
 ["Cool, got it."
  "Good work {{user/name}}, your new OpenCompany dashboard is ready at: {{env/origin}}/{{company/slug}}"
  "(You may need to refresh your dashboard to see the correct logo.)"
  "Now it’ll be easier to keep your team, investors and other stakeholders engaged and up to date."]
 [:company/logo :yes]
 ["Great. We'll keep the image as is."
  "Your new OpenCompany dashboard is ready at: {{env/origin}}/{{company/slug}}"
  "Take a look!"]
}