{[:company/logo :init]
 ["Hi {{user/name}}, I’m the Slack bot for your OpenCompany dashboard."
  "I’ll help you share information about the company to keep everyone engaged and on the same page."
  "The first thing we ought to do is confirm the information OpenCompany has about {{company/name}}."
  "{{#company/logo}}Is the following logo correct? You can answer with *yes* or *no*.{{company/logo}}{{/company/logo}}"
  "{{^company/logo}}We don't yet have an logo to display on your company's dashboard. Provide a link or reply with *later*?{{/company/logo}}"]
 [:company/logo :no]
 ["Understood. What logo should I use? (please provide a link)"]
 [:company/logo :not-now]
 ["OK, sure. You can always go to your dashboard to change the logo."]
 [:company/logo :image-url]
 ["OK, I'll update the logo to {{company/logo}}. Sound right?"]
 [:company/logo :yes-after-update]
 ["Cool, got it."]
 [:company/logo :yes]
 ["Great. We'll keep the image as is."]

 ;; [:company/description :no]
 ;; ["Ok. You can always go to your dashboard later and add a description."
 ;;  "Good work {{user/name}}, your new company dashboard is ready at https://opencompany.com/{{company/slug}}!"
 ;;  "You’ll find a few common topics are already in your dashboard to give you a head start, but it’s easy to pick the ones you want. As information is updated in your dashboard, I’ll let everyone know via Slack."
 ;;  "Just visit https://opencompany.com/{{company/slug}} to get started!"]
 ;; [:company/description :str]
 ;; ["Nice. The description will be updated to “{{company/description}}”, sound right?"]
 ;; [:company/description :yes-after-update]
 ;; ["Ok, I've updated the description."
 ;;  "Good work {{user/name}}, your new company dashboard is ready at https://opencompany.com/{{company/slug}}!"
 ;;  "You’ll find a few common topics are already in your dashboard to give you a head start, but it’s easy to pick the ones you want. As information is updated in your dashboard, I’ll let everyone know via Slack."
 ;;  "Just visit https://opencompany.com/{{company/slug}} to get started!"]

 ;; [:company/currency :no]
 ;; ["OK. What’s the right currency for {{company/name}}?"]
 ;; [:company/currency :currency]
 ;; ["OK. The currency will be updated to “{{company/currency}}”, sound right?"]
 ;; [:company/currency :yes-after-update]
 ;; ["Great, I updated the currency to “{{company/currency}}”"
 ;;  "Good work {{user/name}}, we’re done setting up {{company/name}}. You can revisit these settings at anytime here: https://opencompany.com/{{company/slug}}/settings  or message me with “settings”."
 ;;  "{{company/name}} now has a company transparency dashboard with a set of core topics: Founder’s Update, Growth, Key Challenges, Team and Hiring, Product, Finances, Values, and Mission."
 ;;  "You should visit the dashboard now and start updating the information so all {{company/name}} stakeholders have easy access to up to date information: https://opencompany.com/{{company/slug}}"
 ;;  "You can also add or remove topics to better reflect the information your company stakeholders need."
 ;;  "If some of your fellow colleagues are better sources of some of this core company information, please send them a Slack message and ask them to visit the dashboard and update the information."
 ;;  "Once a month we’ll send a stakeholder update to all internal stakeholders (members of this Slack organization) and to any external stakeholders you identify such as investors and advisors."
 ;;  "Are you the CEO or the person that should be responsible for approving the stakeholder update? You can answer with *yes* or *no*."]
 ;; [:company/currency :yes]
 ;; ["Great."
 ;;  "Good work {{user/name}}, we’re done setting up {{company/name}}. You can revisit these settings at anytime here: https://opencompany.com/{{company/slug}}/settings  or message me with “settings”."
 ;;  "{{company/name}} now has a company transparency dashboard with a set of core topics: Founder’s Update, Growth, Key Challenges, Team and Hiring, Product, Finances, Values, and Mission."
 ;;  "You should visit the dashboard now and start updating the information so all {{company/name}} stakeholders have easy access to up to date information: https://opencompany.com/{{company/slug}}"
 ;;  "You can also add or remove topics to better reflect the information your company stakeholders need."
 ;;  "If some of your fellow colleagues are better sources of some of this core company information, please send them a Slack message and ask them to visit the dashboard and update the information."
 ;;  "Once a month we’ll send a stakeholder update to all internal stakeholders (members of this Slack organization) and to any external stakeholders you identify such as investors and advisors."
 ;;  "Are you the CEO or the person that should be responsible for approving the stakeholder update? You can answer with *yes* or *no*."]

 ;; [:ceo :no]
 ;; ["OK, who is the CEO or the person that should be responsible for approving the stakeholder update? You can just type in their Slack name (eg. @johndoe)."]
 ;; [:ceo :str]
 ;; ["OK, so {{ceo}} should be responsible for approving the stakeholder update? You can answer with *yes* or *no*."]
 ;; [:ceo :yes-after-update]
 ;; ["Great. Thanks {{user/name}}."]
 ;; [:ceo :yes]
 ;; ["OK. Let's configure who receives Stakeholder updates then."]
 }